.cricle{
    display: block;
    border-radius: 100%;
    background-color: rgb(27, 27, 131);
    width: 100px;
    height: 100px;
    margin: auto;
}
.outerCircle{
    display: block;
    border-radius: 100%;
    background-color: rgb(63, 63, 188);
    width: 150px;
    height: 150px;
}
.detailsCD{
  border-radius: 5px;
    position: relative;
    background-color: rgb(22, 16, 71);
    width: 300px;
    margin: auto;
    padding: 5px;  margin-top: 5px;
    text-align: center;
}

.vcard {
    display: block;
    padding: 50px;
    width: 300px;
    margin: auto;
   
    filter: drop-shadow(8px 8px 10px gray);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    position: relative;
    background-color: rgb(22, 16, 71);
  }

  .circleO {
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
    background-color: teal;
    border-radius: 100%;
  }
  .circlei {
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
    background-color: rgb(4, 26, 97);
    border-radius: 100%;
    z-index: 49;
  }
  .circlep {
    display: block;
    width: 100px;
    height: 100px; 
    transition-duration: 3s;
    /* animation: rotate 4s linear infinite; */
    position: absolute;
    z-index: 30;
    margin-left: 100px;
    transform-origin:0px 100px;
    background-color: rgb(21, 178, 226);
    border-top-right-radius: 200px;
  }
  .circlec {
    display: block;
    width: 100px;
    height: 100px; 
    transition-duration: 1s;
    /* animation: rotate 4s linear infinite; */
    position: absolute;
    z-index: 31;
    margin-left: 100px;
    transform: rotate(30deg);
    transform-origin:0px 100px;
    background-color: teal;
    border-top-right-radius: 200px;
  }
  @keyframes rotate {
    from{
    transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
}
  }
  .incomeV{
    position: absolute;
    top: 250px;
    left: 200px;
  }
  .expenseV{
    position: absolute;
    top: 270px;
    left: 200px;
  }
  .incomeBlock{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: aqua;
  }
  .expenseBlock{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: teal;
  }

  .incomeVD{
    color: green;
    margin-left: 0px;
    width: 140px;
    display: inline-block;
  }
  .text-green{color:green; ;}
  .expenseVD{
    color: rgb(255, 166, 0);
    word-break: keep-all;
    width: 140px;
    display: inline-block;
  
  }
  .savingVD{
    margin: auto;
color: rgba(240, 248, 255, 0.543);
  }
  .incomePercent{
    color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
  }
  @media screen and (max-width:400px){
    .picharCard .card-body{
      padding:0px !important;
    }
  }

  .piAddNew{
    display: block;
    width: 70px;
    height: 70px; text-align: center;
    padding-top: 20px;
    border-radius: 100%;
    background-color: cadetblue;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
z-index: 2000;
text-decoration: none;
color: aliceblue;
  }
  .piAddNew:hover{
    background-color: aqua;
  }