p{
    font-size: 14px;
    margin: 1px;
    padding: 2px;
}

.transactionCard{
    margin: auto;
    margin-bottom: 5px;
 
}
.transactionCard div{
    padding: 5px;
    display: block;
}
.transactionCards{
    margin:auto;   
}
.transactionCardBody{
    /* margin-top: 58px; */
    padding:2px 5px;
    margin:0px;
}

.filterButton{
    display: inline-block;
    float:right;
    width: 120px;
    padding: 0px 5px;
    margin-right: 5px;
}
.detailsName{
display: inline-block;
margin-left: 10px;
}
.deleteIcon{
    float: right;
    display: inline-block; 
    color: wheat;
}
.deleteIcon:hover{
    color: red;
}
.amountDisplay{
    display: inline-block;
}

#DeleteconfirmPopup{
    height: 100%;
    
}
.hide{
    display: none;
}
.maxsize90p{
    display: block;
    height: 80vh;
    overflow: scroll;
}