.welcome {
  position: absolute;
  top: 40vh;
  left: 20vw;
  color: white;
  font-size: 10vh;
  transform: translate(-50%, -50%);
}
.welcome1 {
  color: whitesmoke;
  display: block;
  font-size: large;
}
.welcome:hover {
  animation-name: bubble;
  animation-duration: 4s;
}
@keyframes bubble {
  0% {
    background-color: rgba(240, 248, 255, 0.26);
    border-radius: 20px;
    padding: 5px;
  }
  30% {
    background-color: rgba(16, 112, 196, 0.315);
    border-radius: 100%;
    padding: 100px;
  }
}
/* transform: translate(-50%, -50%);*/
.cover {
  display: block;
  overflow: hidden;
  width: 10%;
  height: 100vh;
  position: relative;
  animation-name: run;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
@keyframes run {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}

.login99 {
  background-color: rgba(101, 164, 219, 0.363);
  border-radius: 20px;
  width: 30%;
  height: 30vh;
  position: absolute;
  top: 50%;
  right: 5vw;
  transform: translate(0px, -50%);
}
.icongoogle {
  background-image: url("./googleicon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.login996 {
  vertical-align: 10px;
  font-weight: bold;
}
h4 {
  color: whitesmoke;
}
.login998 {
  font-size: x-large;
  font-weight: bolder;
  padding: 20px 40px;
  display: block;
  color: whitesmoke;
}
.login995 {
  background-color: rgba(250, 235, 215, 0);
  padding: 10px;
  position: absolute;
  top: 40%;
  color: whitesmoke;
  left: 50%;
  transform: translate(-50%, 0px);
  font-size: large;
  display: block;
  border-radius: 20px;
}
.login995:hover {
  background-color: rgba(12, 187, 70, 0.329);
}

/* .....................................*/
.card {
  padding: 2%;
  background-color: rgba(240, 248, 255, 0.267);
  display: block;
  width: 70vw;
  min-width: 800px;
  height: 70vh;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bar {
  position: absolute;
  top: 2vh;
  width: 90%;
  height: 10vh;
  min-height: 120px;

  margin: 2px 3%;
  display: block;
  border-radius: 20px;
  border: 8px solid rgba(34, 2, 2, 0.137);
  background-color: rgba(0, 255, 255, 0.041);
}
.write {
  position: absolute;
  top: 18vh;
  width: 60%;
  padding: 10px;
  height: 40vh;
  min-height: 40px;
  margin: 2px 3%;
  display: inline-block;
  border-radius: 20px;
  border: 8px solid rgba(34, 2, 2, 0.137);
  border-right: 0px;
  border-bottom: 0px;
  background-color: rgba(47, 0, 255, 0.041);
  border-top-right-radius: 0px;
}
.previous {
  position: absolute;
  top: 18vh;
  left: 67%;
  width: 27%;

  height: 40vh;
  min-height: 40px;
  margin: 2px 3%;
  display: inline-block;
  border-radius: 20px;
  border: 8px solid rgba(34, 2, 2, 0.137);
  border-left: 0px;
  background-color: rgba(47, 0, 255, 0.041);
  border-top-left-radius: 0px;
  border-bottom: 0px;
}
.time {
  float: right;
  padding: 2vw;
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.616);
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
/* rgba(1, 23, 27, 0.479);*/
.mill {
  font-size: x-large;
  width: 100px;
  display: inline-block;
}
