.gridOuter {
  display: grid;
  grid-template-columns: auto auto;
}
.girdD {
  display: block;
}
.gymBoard{
  padding-top: 53px;
  background-color: darkslategrey;
}
.bg-vdark{
  background-color: rgb(1, 22, 40);
}
.filterChartButton{
  display: inline-block;
  width: 140px;
  float: right;
  padding:0px 5px;
}